p {
  margin-top: 0px;
  font-family: bookman;
  font-size: 13px;
  color: #333;
}

h1 {
  /*font-family: avenir, helvetica, arial, sans-serif;*/
  font-size: 22px;
  font-weight: 900;
  color: #222;
  margin-bottom: 30px;
  letter-spacing: 0.5px;
}

h2 {
  font-size: 18px;
  font-weight: 400;
  color: #333;
  letter-spacing: 0.5px;
  
  margin-top: 30px;
  margin-bottom: 15px;
}

h3 {
  font-size: 11px;
  font-weight: 500;
  color: #555;
  text-transform: uppercase;
  letter-spacing: 1px;
  
  margin-top: 30px;
  margin-bottom: 15px;
}

code {
  padding: 8px;
  background-color: #424d5e;
  color: #DDD;
}

li {
  font-family: bookman;
  font-size: 12px;
}