  font-family: menlo, courier;
  padding: 8px;
  background-color: #424d5e;
  color: #DDD;
}

li {
  font-family: menlo, courier;
  font-size: 12px;
}

.items_divider {
  font-family: menlo, courier;
  font-size: 8px;
  font-weight: 600;
  margin-top: 15px;
  margin-bottom: 15px;
}

.section_divider {
  font-family: menlo, courier;
  font-size: 11px;
  font-weight: 100;
  color: #BBB;
  margin-top: 20px;
  margin-bottom: 0px;
}

img {
  width: 30px;
  height: 30px;
  
  float: left;
  margin-top: 10px;
  position: fixed;
}

.photo {
  width: 110px;
  height: 110px;
  left: 0;
  float: inherit;
  margin-top: inherit;
  position: inherit;
}

.contact {
  font-family: menlo, courier;
  font-size: 11px;
  color: #333;
  float: right;
  line-height: 23px;
  position: relative;
}

.section_data {
  margin-left: 40px;
}
