p {
  margin: 0px;
  margin-bottom: 10px;
  padding: 0px;
  font-family: menlo,  'Courier New', Courier, 'Lucida Sans Typewriter', 'Lucida Typewriter', monospace;;
  font-size: 11px;
  color: #333;
}

h1 {
  font-family: menlo, 'Courier New', Courier, 'Lucida Sans Typewriter', 'Lucida Typewriter', monospace;;
  font-size: 22px;
  font-weight: 900;
  color: #222;
  letter-spacing: 0.5px;
  margin-bottom: 0px;
}

h2 {
  font-family: menlo,  'Courier New', Courier, 'Lucida Sans Typewriter', 'Lucida Typewriter', monospace;;
  font-size: 12px;
  font-weight: 300;
  font-style: italic;
  color: #888;
  letter-spacing: 0.5px;
  margin-top: 3px;
  margin-bottom: 15px;
}

h3 {
  font-family: menlo,  'Courier New', Courier, 'Lucida Sans Typewriter', 'Lucida Typewriter', monospace;;
  font-size: 14px;
  font-weight: 500;
  color: #555;
  letter-spacing: 1px;
  
  float: left;
  position: relative;
  margin-left: 40px;
  margin-bottom: 20px;
  margin-top: 20px;
}

h4 {
  font-family: menlo,  'Courier New', Courier, 'Lucida Sans Typewriter', 'Lucida Typewriter', monospace;;
  font-size: 12px;
  font-weight: 1000;
  color: #333;
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 0px;
}

h5 {
  font-family: menlo,  'Courier New', Courier, 'Lucida Sans Typewriter', 'Lucida Typewriter', monospace;;
  font-size: 12px;
  font-weight: 300;
  color: #777;
  margin-top: 2px;
  margin-bottom: 8px;
  padding: 0px;
}

code {
  font-family: menlo,  'Courier New', Courier, 'Lucida Sans Typewriter', 'Lucida Typewriter', monospace;;
  padding: 8px;
  background-color: #424d5e;
  color: #DDD;
}

li {
  font-family: menlo,  'Courier New', Courier, 'Lucida Sans Typewriter', 'Lucida Typewriter', monospace;;
  font-size: 12px;
}

.items_divider {
  font-family: menlo,  'Courier New', Courier, 'Lucida Sans Typewriter', 'Lucida Typewriter', monospace;;
  font-size: 8px;
  font-weight: 600;
  margin-top: 15px;
  margin-bottom: 15px;
}

.section_divider {
  font-family: menlo,  'Courier New', Courier, 'Lucida Sans Typewriter', 'Lucida Typewriter', monospace;;
  font-size: 11px;
  font-weight: 100;
  color: #BBB;
  margin-top: 20px;
  margin-bottom: 0px;
}

img {
  width: 30px;
  height: 30px;
  
  float: left;
  margin-top: 10px;
  position: fixed;
}

.photo {
  width: 110px;
  height: 110px;
  left: 0;
  float: inherit;
  margin-top: inherit;
  position: inherit;
}

.contact {
  font-family: menlo,  'Courier New', Courier, 'Lucida Sans Typewriter', 'Lucida Typewriter', monospace;;
  font-size: 11px;
  color: #333;
  float: right;
  line-height: 23px;
  position: relative;
}

.section_data {
  margin-left: 40px;
}
